.err-text {
    color: red
}
.warning-text {
    color: orange;
}
.field-err-message {
    color: #ff5252;
    font-size: 12px;
    left: 12px;
    margin-top: 9px;
    position: relative;
    top: 4px;
}
.label-text {
    color: #333333;
    font-weight: 700;
}
.primary-button {
    border-radius: 20%;
    
}
.footer-content {
    font-weight: 900;
    color: #ffffff;
}
